.card1, .card2, .card3, .card4, .card5, .card6 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr auto;
    width: 319.5px;
    max-height: 355px;
    box-shadow: 1px 1px 4px 1px #888;
    border-radius: 3px;
    background-color: white;
    border: 1px solid black;
    font-family: 'PT Serif', serif;
    font-size: 15px;
    overflow: hidden;
    margin: 15px;
}

.content-img {
    grid-row: 1;
    max-width: 100%;
}

.content-text {
    grid-row: 2;
    margin: 10px;
}

.content-footer {
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
}

.buttons {
    grid-column: 1;
    padding: 0 0 10px 10px;
}

.viewButton {
    margin: -3px;
    padding: 3px 5px 3px 5px;
    border-radius: 4px 0 0 4px;
    background-color: rgb(247, 245, 245);
    border-radius: 4px 0 0 4px;
}

.editButton {
    margin: -3px;
    padding: 3px 5px 3px 5px;
    border-radius: 0 4px 4px 0;
    background-color: rgb(247, 245, 245);
    border-radius: 0 4px 4px 0;
}

.info {
    grid-column: 2;
    justify-self: right;
    padding: 0 10px 10px 0;
}