.dark-design .primary-color-1 {
    background-color: #292929;
}

.dark-design .primary-color-2 {
    background-color: #121212;
}

.dark-design .primary-color-3 {
    background-color: #bb86fc;
}

.dark-design .accent-color-1 {
    background-color: #f74f9e;
}

.dark-design .accent-color-2 {
    background-color: #f7821b;
}

.dark-design .accent-color-3 {
    background-color: #62ba46;
}

.dark-design .font-color-1 {
    background-color: #e2e2e2;
}

.dark-design .font-color-2 {
    background-color: #18b8ff;
}

.dark-design .logo-outer {
    background-color: #bb86fc;
}

.dark-design .logo-inner {
    background-color: #fcb727;
}

.dark-design header {
    background-color: #121212;
    color: #ffffff;
}

.dark-design footer {
    background-color: #121212;
    color: #ffffff;
}

.dark-design .img-1 {
    border-color: #f74f9e;
}

.dark-design .img-2 {
    border-color: #f7821b;
}

.dark-design .img-3 {
    border-color: #62ba46;
}

.dark-design .img-4 {
    border-color: #62ba46;
}

.dark-design .img-5 {
    border-color: #f7821b;
}

.dark-design .img-6 {
    border-color: #f74f9e;
}

.dark-design a {
    color: #ffffff;
}

.dark-design {
    font-family: 'PT Serif', serif;
    color: #e2e2e2;
}

.dark-design h1, .dark-design h2, .dark-design h3, .dark-design h4, .dark-design h5, .dark-design h6 {
    font-family: 'Roboto', sans-serif;
    color: #18b8ff;
}

.dark-design {
    background-color: #292929;
}